body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar.fixed-bottom {
  padding: 0rem 0rem 0rem 0.5rem;
}